<div class="min-w-[400px]">
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h1 class="card-title cursor-pointer text-2xl font-bold hover:opacity-80">
        <a routerLink="/">NG Movie</a>
      </h1>
      <p class="mb-0 text-sm text-slate-500">Please login to your account</p>
      <form class="my-5 flex flex-col gap-5">
        <label for="email" class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Email</span>
          </div>
          <input
            type="email"
            id="email"
            placeholder="example@gmail.com"
            class="input input-bordered w-full max-w-xs"
          />
        </label>
        <label for="password" class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Password</span>
          </div>
          <input
            type="password"
            id="password"
            placeholder="Password"
            class="input input-bordered w-full max-w-xs"
          />
        </label>
        <button class="btn btn-neutral" type="submit">Login</button>
      </form>
      <div>
        <p class="text-sm">
          Does not have an account?
          <span>
            <a class="font-bold hover:underline" routerLink="/auth/signup">
              Register
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
