<div class="min-w-[400px]">
  <p-card>
    <ng-template #title>
      <h1 class="cursor-pointer text-2xl font-bold hover:opacity-90">
        <a routerLink="/">NG Movie</a>
      </h1>
    </ng-template>
    <ng-template #subtitle>
      <p class="mb-0 text-sm text-slate-500">Please enter below information</p>
    </ng-template>
    <form class="my-5 flex flex-col gap-5">
      <p-floatlabel variant="on">
        <p-icon-field>
          <p-inputIcon class="pi pi-at" />
          <input
            pInputText
            id="email"
            autocomplete="off"
            type="email"
            pSize="small"
            class="w-full"
          />
        </p-icon-field>
        <label for="email">Email</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-icon-field>
          <p-inputIcon class="pi pi-key" />
          <input
            pInputText
            id="password"
            autocomplete="off"
            type="password"
            pSize="small"
            class="w-full"
          />
        </p-icon-field>
        <label for="password">Password</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-icon-field>
          <p-inputIcon class="pi pi-key" />
          <input
            pInputText
            id="confirmPassword"
            autocomplete="off"
            type="password"
            pSize="small"
            class="w-full"
          />
        </p-icon-field>
        <label for="confirmPassword">Confirm Password</label>
      </p-floatlabel>
      <button pButton pRipple type="submit">
        <span pButtonLabel>Sign up</span>
      </button>
    </form>
    <div>
      <p class="text-sm">
        Already have an account?
        <span>
          <a class="font-bold hover:underline" routerLink="/auth/login">
            Login
          </a>
        </span>
      </p>
    </div>
  </p-card>
</div>
