<div class="space-y-5">
  <div>
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="Search" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
  </div>
  <div>
    <h2 class="mb-2 text-lg font-bold">Now Playing</h2>
    <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
    >
      @for (item of nowPlayingMovies(); track item.id) {
        <div class="overflow-hidden shadow-md">
          <img
            [alt]="item.title"
            [ngSrc]="item.poster_path"
            class="h-auto w-full"
            width="400"
            height="600"
            priority
          />
          <div class="p-4">
            <h3 class="text-sm font-semibold">{{ item.title }}</h3>
          </div>
        </div>
      }
    </div>
  </div>
</div>
